@media screen and (max-width: 1000px) {
    .header-menu{
        visibility: hidden;
    }
    .header-logo img{
        width: 102px;
        margin-left: 30px;
    }
}
.header{
	font-size: 15px;
	display: flex;
	border-bottom: 1px solid #e0e0e0;
	justify-content: space-between;
	align-items: center;
}
.header-left{
	display: flex;
	align-items: center;
}
.header-logo img{
	width: 202px;
	margin-left: 30px;
}
.header-menu{
	margin-left: 30px;
	display: flex;
}
.header-menu li{
	margin: 10px;
	text-align: center;
}
.header-menu a{
	border-bottom: 2px solid transparent;/*按鈕要加線條前要先加這個避免抖動*/	
	padding-top: 16px;
	padding-bottom: 16px;
	display: block;
	color: rgb(150, 150, 150);
	text-decoration: none;/*去掉下底線*/	
}
.header-menu a:hover{
	border-bottom: 2px #f38029 solid;
	color: #f38029;
}
.header-right{
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.header-login{
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.header-login li{
	margin-left: 20px;
}
.header-login-login{
	display: block;
	background-color:#f38029;
	padding-left: 38px;
	padding-right: 38px;
	padding-top: 14px;
	padding-bottom: 14px;
	color:#fff;
	border-radius:40px;
	text-decoration: none;
}
/*登入及註冊*/
.header-login-sinup{
	color: rgb(150, 150, 150);
	text-decoration: none;
}
.header-login-login:hover{
    opacity: 70%;
    transition-duration: 0.3s;	
}
.header-shop{
	display: flex;
	margin-left: 20px;
}
.header-shop a{
	display: flex;
	text-decoration: none;/*去掉下底線*/
	color: rgb(150, 150, 150);
}
.header-shop li{
	margin-right: 20px;
}
/*搜索及購物車*/
.serch{
	display: flex;
	align-items: center;
	justify-content: center;
}
.serch:hover{
	color: #f38029;
}
.cart{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
}
.cart:hover{
	color: #f38029;
}
.cart-icon{
	margin-right: 6px;
}
.serch-icon{
	display: inline-block;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
	width: 19px;
    height: 18px;
	margin-right: 6px;
}
.serch-icon:hover{
	background-image: url(../svg/search_down.svg);
}