/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* *{
	outline: 1px solid black;     debug 參考線*/
/*手機摸式右側白邊隱藏*/
html,body{ 
	overflow-x: hidden;
}
.top-dwon{
	margin: 0 auto;
}
/*最上層目錄開始*/
@media screen and (min-width: 1153px) {
	.wrap{
		width: 1153px;
		margin: 0 auto;
	}
 }
 @media screen and (max-width: 1153px) {
	.wrap{
		margin: 0 auto;
		}
	.content-title{
		display: flex;
		border-bottom: 2px solid #f38029;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
		}
}
@media screen and (min-width:500px){
	.pi{
		height: 283px; 
}
}
@media screen and (max-width: 500px) {
    .pi{
		width: 100%;
		height: 100%; 		
	}
	/*商品圖手機左右距離*/
	.course{
		padding-left: 6px;
		padding-right: 6px;
	}
	.product-all-item {
		margin-left: 11px;
		margin-right:11px;
}
}
/*銷量排名*/
.content-title{
	display: flex;
	border-bottom: 2px solid #f38029;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content-title-left{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-title-left img{
	height: 20px;
	margin-right: 6px;
}
.content-title-left h1{
	font-size: 22px;
	font-weight: bold;
}
.content-title-right{
	display: flex;
	margin-left: 10px;
	align-items: center;
}
.content-title-right img{
	width: 10px;
	height: 15px;
	margin-right: 6px;
}
.content-title-right a{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #f48c3e;
	text-decoration: none;/*去掉下底線*/
}
/*排行商品*/
.content{
	margin-top: 20px;
	margin-bottom: 20px;
}
.course-item{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.course-item-number{
	position: relative;
	width: 150px;
	border: 1px solid #ededed;
	border-radius: 8px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-direction: column;
}
.course-item-rank-down{
	max-width: 48px;
	position: absolute;
	top:-14px;
	left: -12px;
	right:auto;
	z-index: 1;
}
/*抖動
.course-item-number:hover{
	transition-duration: 0.3s; 
	position: relative;
	top: -5px; left: -5px
}
*/
.course-tag{
	border-left: #f48c3e;
}
.course-item-number a{
	text-decoration: none;/*去掉下底線*/
}
.course-item-tag h1{
	border-left: 2px solid #f48c3e;
	font-size: 12px;
	padding: 6px;
	margin-bottom: 6px;
}
.course-item-rank-img:hover{
    background: #fff;
    opacity: 70%;
    transition-duration: 0.3s;
}
.course-item img{
	border-radius:10px;
	width: 150px;	
}	
.course-item-tag{
	color: #808080;	
}
.course-name{
	color:gray;
	line-height: 1.2;
	font-size: 14px;
	font-family: sans-serif;
}
.course-money{
	display: flex;
	margin-top: 8px;
	color: #f38029;
	align-items: flex-end;
}
.course-money-left{
	font-size: 20px;
	font-family:sans-serif;
}
.course-money-right{
	margin-left: 4px;
	margin-bottom: 2px;
	font-size: 14px;
}
/*lucky 商品*/

.lucky-img{
	padding-top: 30px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	
}
.lucky-img-flex{
	padding: 10px;
}
.lucky-img-flex img{
	max-height: 100%;  
    max-width: 100%; 
    margin: auto;
	}
/*上下圖文*/

.footer{
	background: #f2f2f3;
	color: #18181B;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.product{
	font-family: sans-serif;
}
.product-all{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.product-all-item{
	margin-top: 20px;
	margin-left: 14px;
	max-width: 150px;
	flex-direction: column;
	
}
.product-all-item a{
	text-decoration: none;/*去掉下底線*/
}
.product-all-item img{
	width: 150px;
	border-radius: 8px;
}
.product-all-item img:hover{
	background: #fff;
    opacity: 70%;
    transition-duration: 0.3s;
}
.product-item-name{
	width: 150px;
}
.commodity-item-name{
	color:gray;
	line-height: 1.2;
	font-size: 14px;
	font-family: sans-serif;
}
.product-money{
	display: flex;
	margin-top: 8px;
	color: #f38029;
	align-items: flex-end;
}
.product-money-left{
	font-size: 20px;
	font-family:sans-serif;
}
.product-money-right{
	margin-left: 4px;
	margin-bottom: 2px;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
}
/*圖片觸碰放大縮小*/
.pi {
	width: 100%;

	border-radius: 5px;
	overflow: hidden;
}
.pi img {
	transform: scale(1,1);
	transition: all 0.5s ease-out;
}
.pi img:hover {
	transform: scale(1.05,1.05);
}
.pi {
	display: block; text-align: center;
}
/*預覽紀錄*/
.shoping{
	padding-top: 30px;
}
.shoping-background{
	background-color: #f2f2f3;
}
.shoping-width{
	padding: 20px;
	padding-top: 42px;
	padding-bottom: 42px;
	max-width: 1153px;
	margin: 0 auto;
}
.shoping-text{
	font-size: 18px;
	padding-bottom: 20px;
}
.shoping-item-flex{
	display: flex;
}
.shoping-item{
	margin-right: 20px;
}
.shoping-item img{
	width: 200px;
	height: 200px;
	border-radius: 8px;
}
.publicty-all{
	padding-top: 70px;
	padding-bottom: 70px;
	max-width: 1153px;
	margin: 0 auto;
}
.publicity-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.publicity-img img{
	margin-top: 10px;
	width: 370px;
}	